* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.package-links {
  text-decoration: none;
}
.package-links:hover {
  text-decoration: underline;
}

.code {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0rem 0.5rem;
  border-radius: 0.3rem;
}

 .btn:hover {
  color: white;
 }
 .form-text {
  font-size: 0.7rem;
 }
 .form-control {
  font-size: 0.9rem;
  padding:  0.8rem;
 }
 .btn-outline-light:hover {
  color: black;
 }
 .navbar-brand  {
  background-color: white;
  color: black;
  padding: 0.3rem;
 }
 .navbar-brand:hover {
  color: black;
 }
 .container {
  width: 60%;
 }
 .display-5 {
  font-weight: 500;
 }
 .display-6 {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.859);
 }
 input {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 input:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }