* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  width: 60%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
 .btn:hover {
  color: white;
 }
 .form-text {
  font-size: 0.7rem;
 }
 .form-control {
  font-size: 0.9rem;
 }
 .btn-outline-light:hover {
  color: black;
 }
 .navbar-brand  {
  background-color: white;
  color: black;
  padding: 0.3rem;
 }
 .navbar-brand:hover {
  color: black;
 }
 .container {
  width: 60%;
 }
 .display-5 {
  font-weight: 500;
 }
 .display-6 {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.859);
 }